@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-family: 'Space Mono', monospace;
  --font-color: #333333;
}


body {
  font-family: var(--font-family);
  color: var(--font-color);
}

.back-button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 216px;
  height: 68px;
}